.sign-in-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    // border: 5px solid #FFFF00;
    border-radius: 20px;
    padding: 25px;
    background-color: rgb(161, 203, 219);
}
.sign-in-text{
    margin: 10px 0;
    font-size: 15px;
}
.user-image{
    border-radius: 50%;
    height: 100px;

}
.sign-in{
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    

    .title{
        margin: 10px 0;
    }
    .buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;
        // height: 200px;
        
    }
}