@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



.body{
    background-color: #f8f8fa!important;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    color: black!important;
}

.modal{
    z-index: 999999999999;
}

a:hover{
    text-decoration: none;
}

.primary_color{
    color: #516bbd;
}

.small_font{
    font-size: 10px;
}

.online_color{
    color: #0e5271;
}

.medium_font{
    font-size: 12px!important;
}

.muted_text{
    font-size: 12px;
}

.heading_text{
    font-weight: 600;
}

.text-black{
    color: #000!important;
}

.div_format{
    background-color: white;
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid #e8e9eb;
}

.shadow_div{
    box-shadow: 5px 10px 5px #e8e9eb;
}

.font_14{
    font-size: 14px;
}

.f_24{
    font-size: 24px!important;
}

.f_36{
    font-size: 36px!important;
}

.btn-circle{
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 14px;
    text-align: center;
    color: #ffffff!important;
}

.btn-active{
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 25px;
    font-size: 14px;
    text-align: center;
    color: #ffffff!important;
}

.btn-active .activeTextButton{
    position: relative;
    top: 5px;
}

.rounded-div{
    border-radius: 10px;
}

/* Navigation Bar */
#nav{
    background-color: #13304d;
    height: 70px;
}

#nav a{
    color: white;
}

#nav a:hover{
    text-decoration: none;
}

#nav .dropdown-menu a{
    color: #13304d;
}

#nav .dropdown .profile_name{
    cursor: pointer;
}

#nav .active{
    color: #0085ff;
}

#nav .profile_picture{
    background-color: #0e5271;
    padding: 10px;
    border-radius: 60%;
    font-size: smaller;
}

#nav .dropdown-menu{
    line-height: 90%;
}

.logo_img{
    width: 70px!important;
    height: 32px!important;
}

#nav .active_nav{
    color: white!important;
}

.dropDownMenuLeft{
    left: -100px!important;
}

/* End of Navigation Bar */

/* CheckIn */
.check_in_background{
    border: 5px solid #abd3ff;
    border-radius: 60%;
    height: 100px;
    width: 100px;
    background-color: #13304D;
}

.check_in_background a:hover{
    cursor: pointer;
    text-decoration: none;
}

/* notice */
.notice_desc{
    font-size: 12px;
}

.notice_desc a{
    color: #516bbd;
}

.profile_picture img{
    width: 40px!important;
    height: 40px!important;
}

/* handbook page */
.active_handbook{
    background-color: #516bbd;
    color: white;
}

/* Earning page  */
.earning_desc{
    width: 20%;
    margin: 20px 5px 10px 0px;

}

/* Leave Page  */
.btn_primary{
    background-color: #005099;
    color: white;
}


/* Modal Leave Page  */
.form_input_head{
    font-weight: 700;
    font-size: 14px;
}

.btn_full{
    width: 100%;
}

/* profile   */
.profile_picture_div{
    min-height: 100px;
}

.profile_img{
    height: 150px;
    width: 150px;
    border: 5px solid #fff;
    z-index: 100;
    position: absolute;
    top : 75px;
    left: 50px;
}

.profile_picture_div .user_name{
    position: absolute;
    left: 220px;
    top: 110px;
    color: #fff;
    z-index: 1000;
}

.profile_picture_div .profile_summary{
    padding-right: 30px;
}

.profile_picture_div .profile_summary img{
    width: 50px;
    height: 50px;
}

.nav_cle_head_active{
    color: #5d78ff;
    background-color: #f6f7fd;
    padding: 5px 10px 5px 10px;
}

.nav_cle_head{
    color: #6c7293;
    padding: 5px 10px 5px 10px;
}

/* Admin page  */
.side-menu{
    height: 90vh;
}

.side-menu .active-side-nav{
    background-color: #005099;
    color: #ffffff;
    border-radius: 5px;
}

/* Users page  */
.user_table_search_user{
    width: 200px;
    padding-left: 10px;
}

.drop_menu_no_down_arrow::after{
    display: none;
}

.dropdownMenuAdminTable{
    left: -100px!important;
}

.div_flex_icon{
    flex-basis: 25px; 
    flex-grow: 0; 
    flex-shrink: 0;
}

.admin_nav{
    width: 100%; 
}