.shape1{
    position: absolute;

margin-left: -57px;
margin-top: -20px;
}
.shape2{
    position: absolute;

    right: 0px;
    bottom: 0px;
}
.header-container{
    position: absolute;
    left: 50%;
    top: -450%;
    transform: translate(-50%, -50%);
    // border: 5px solid #FFFF00;
    border-radius: 20px;
    padding: 25px;
    // background-color: rgb(161, 203, 219);
}
.form-container{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    // border: 5px solid #FFFF00;
    border-radius: 20px;
    padding: 25px;
    // background-color: rgb(161, 203, 219);
}